<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Interaction Checker</title>
    <link rel="stylesheet" href="public\css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<body>
    <div class="headers">
        <h4>DRUG INTERACTIONS</h4>
        <h4>FOOD INTERACTIONS</h4>
    </div>
    <hr>

    <div class="container">
        <div class="container2">
            <input type="text" placeholder="Eg. Tylenol" class="input-field">
        </div>

        <h5>ADD TO CHECK FOR INTERACTIONS</h5>
    </div>
    <h6>Add upto five drugs.</h6>
    <div class="drug-list-container"> 
        <!-- Container where buttons will appear -->
        <!-- New buttons will be inserted here dynamically -->
    </div>
    <button class="check_interaction">Check Interactions</button>
    <button class="clear_interaction">CLEAR</button>
    <button class="load_example">LOAD EXAMPLE</button>
    
    

    <script src="script.js"></script>
</body>
</html>